<app-event-search (search)="onSearch($event)"></app-event-search>
<p></p>
<div>
    <table [dragula]="'EVENTS'">
        <tr *ngFor="let event of events | async | searchEvent:term">
            <td><a routerLink="../event/{{event.id}}" routerLinkActive="active">{{event.name}}</a></td><td><button (click)="onDelete(event)">Delete</button></td>
        </tr>
    </table>
    <p></p>
</div>
<dialog id="deleteDialog">
    <h3>Delete event?</h3>
    <div *ngIf="event">Are you sure to delete this event?<p></p>{{event.name}}</div>
    <p></p>
    <div>
        <button style="float: left;" (click)="onCancel()">Cancel</button><button style="float: right;" (click)="onConfirm()">Delete</button>
    </div>
</dialog>
